{% extends "base.html" %}
{% block content %}
{% load static %}


    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/categories.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	 <h1 class="mb-0 bread">Our Products</h1>
          </div>
        </div>
      </div>
    </div>

<br>

<center><h3>{{object.title}}</h3></center>
{% if products %}
	<div class="row">
		{% for product in products %}
			<div class="col-sm-3">
				{% include "products/product_thumbnail.html" with product=product %}
			</div>
		{% cycle '' '' '' '' '</div><hr/><div class="row">' %}
		{% endfor %}

{% endif %}

</div>
{% endblock %}
