{% extends "base.html" %}
{% load static %}

  {% block jquery%}

  function setPrice(){
	var price = $('.variation-select option:selected').data('price');
	var salePrice = $('.variation-select option:selected').data('sale-price');
	if(salePrice && salePrice !== 'None'){
		$('#price').html(` <h3>${salePrice}<small style="color:red;text-decoration:line-through;">(${price})</small><h3>`);
	}
	else{
		$('#price').text(price);
	}
  }

	$('.variation-select').change(function(){
		setPrice();
	})


});

  {% endblock %}

{% block content %}

<style>
	.flash-msg {
		position: absolute;
	    top: 23px;
	    z-index: 2000;
	    width: 100%;
	    display: none;
	}
</style>

<!-- 
<div class="container flash-msg">
	<div class="col-sm-3 col-sm-offset-8">
		<div class="alert alert-success" role="alert">
		  <strong>Item added to cart</strong>
		</div>
	</div>
</div> -->


    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	 <h1 class="mb-0 bread">Product Detail </h1>
          </div>
        </div>
      </div>
    </div>


<section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				{% if product.get_image_url %}	
						<img src="{{product.get_image_url}}" class="img-responsive" class="img-fluid">
					{% endif %}	
				</div>
				
				<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{product.title}}</h3>
    			<div class="rating d-flex">
				<p class="text-left mr-4">
				   <a href="#" class="mr-2">5.0</a>
				   <a href="#"><span class="ion-ios-star-outline"></span></a>
				   <a href="#"><span class="ion-ios-star-outline"></span></a>
				   <a href="#"><span class="ion-ios-star-outline"></span></a>
				   <a href="#"><span class="ion-ios-star-outline"></span></a>
				   <a href="#"><span class="ion-ios-star-outline"></span></a>
				</p>
				<p class="text-left mr-4">
					<a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
					</p>
					<p class="text-left">
					<a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
					</p>
				</div>
				<p>Description:</p>
				<p>{{product.description}}</p>
				<div class="row mt-4">

				<form id="cart-form" method="GET" action="{% url 'cart:create_cart' %}">
				{% if product.variation_set.all.count > 1 %}
				<h3 id="price">Rs.{{product.variation_set.first.price}}
					{% if product.variation_set.first.sale_price %}
						<small id="sale-price" style="color:red;text-decoration:line-through;">{{product.variation_set.first.sale_price}}</small>		
					{% endif %}
				</h3>
				<select name="item" class="form-control variation-select"> 
				{% for variation in product.variation_set.all %}
					<option data-sale-price="{{variation.sale_price}}" data-price="{{variation.price}}" value="{{variation.id}}">{{variation}}</option>
				{% endfor %}
				</select>
			{% else %}
				<h3 id="price">Rs. {{product.variation_set.first.price}}</h3>
				<input type="hidden" name="item" value="{{product.variation_set.first.id}}" />
			{% endif %}
			<br>
			<button type="submit" id="add-to-cart" class="btn btn-dark" href="{% url 'cart:cart_detail' %}">Add To Cart</button>	
			<!-- 
			<a id="add-to-cart" type="submit" class="btn btn-primary" href="
			{% url 'cart:cart_detail' %}">Add To Cart</a>
			</form> -->
		</div>
		</div>
	</div>
	</div>
</section>		
			 
<br>

<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<font size="6">Related Products</font>
          </div>
</div>

 	{% if related_products %}
		<div class="row">
			{% for product in related_products %}
				<div class="col-sm-3">
				  {% include "products/product_thumbnail.html" with product=product %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
